/* nejsme vcerejsi, pouzivame moderni box model */

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px;
    /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto;
    /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.hlavicka {
    position: relative;
    left: 0;
    top: 0;
    color: #25133d;
    margin: 0;
    padding: 0;
}

.apka {
    font-weight: 600;
    font-variant: small-caps;
    font-size: larger;
}
ul.menu {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 15px 40px;
    margin: 0;
}

.telo {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.barevny {
    display: flex;
    flex-direction: row;
    margin: 0 -30px;
    background-image: url(images/pozadi.jpg);
    color: #e5e5e5;
}

.nazev {
    margin: 0;
}

h1 {
    font-size: 75px;
    font-weight: 400;
    margin: 0;
}

.slogan {
    width: 80%;
    margin: 0 0 40px 0;
}

h2 {
    font-weight: 100;
    margin: 0;
    font-size: 35px;
}

h3 {
margin: 0;
color: white;
font-weight: normal;
}

.tlacitka {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tlacitko1 {
    padding: 15px;
    border: solid 1px white;
    border-radius: 15px;
    margin-right: 15px;
    flex-basis: 40%;
}

.tlacitko2 {
    padding: 15px;
    border: solid 1px white;
    border-radius: 15px;
    flex-basis: 40%;
}

.levy {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 0 30px;
}

.pravy {
    position: relative;
    line-height: 0;
}

.bily {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: #25133d;
    margin: 30px -30px;
}

p {
    margin: 20px;
}

.paticka {
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #48418e;
    color: white;
    margin: 0 -30px -30px -30px;
    padding: 0;
}

h4 {
    margin: 5px;
    font-weight: 200;
}

a{
    text-decoration: none;
}

.tlacitko1:hover, .tlacitko2:hover {
    background-color: #48418e;
}